.rightBar {
  flex: 3.5;
  font-size: 18px;
  margin: 10px;
}
.rightBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.birthday {
  display: flex;
  align-items: center;
}
.birthdayIcon {
  padding-right: 10px;
}
.adImage {
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
}
.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.onlineTitle {
  font-weight: 500;
  opacity: 80%;
  font-size: 20px;
  padding: 40px 0;
}




